<div class="col-lg-6 col-md-6 col-sm-10 col-xs-12 col-centered">
  <div class="panel panel-default animated fadeIn">
    <div class="panel-heading">
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" id="title-input" name="title" value="{{title}}">
      </div>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" rows="3" class="form-control" type="text" id="content-input" name="content">{{content}}</textarea>
      </div>
    </div>
    <div class="panel-body"> 
      <input class="btn btn-info center-block" id="update-story" type="submit" value="Update" data-dismiss="modal">
    </div>
    </div>
  </div>
</div>