<div class="col-lg-6 col-md-6 col-sm-10 col-xs-12 col-centered">
  <div class="panel panel-default animated fadeIn">
    <div class="panel-heading">
      <h4>{{title}}</h4>
    </div>
    <div class="panel-body">
      <p>{{content}}</p>
    </div>
    <div class="panel-body">
      <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal2" id="edit-story">
      Edit
    </button>
      <button type="button" class="destroy btn btn-danger btn-sm">Delete</button>
    </div>
  </div>
</div>