<div class="form-group">
  <label for="title">Title</label>
  <input class="form-control" type="text" id="title-input" name="title" placeholder="Title">
</div>
<div class="form-group">
  <label for="content">Content</label>
  <textarea class="form-control" rows="3" class="form-control" type="text" id="content-input" name="content" placeholder="Your story..."></textarea>
</div>
  <input class="btn btn-info center-block"type="submit" id="submit-story" value="Post" data-dismiss="modal">
</div>