<div class="col col-lg-8 col-md-8 col-sm-10 col-xs-12 col-centered ">
  <h1 class="text-center">About</h1>
  <p style="font-size: 16px" class="col col-lg-8 col-md-8 col-sm-10 col-xs-12 col-centered">Oh, SNAP! is a “simulator data toy” that explores how Food Stamps affects families in America. It is an application that allows users to see the amount of SNAP benefits they would have had before and after the cut in benefits that occurered between 2013 and 2014.</p>
  <br>
  <p style="font-size: 16px" class="col col-lg-8 col-md-8 col-sm-10 col-xs-12 col-centered">
  While moving through the "game", users are asked questions that will return customized answers with data gathered from the US Department of Agriculture and Bureau of Labor Statistics. After progressing through the first few questions, the user will be given a weekly budget to go "shopping" for food. Overall, this toy is meant to explore the feeling of shopping on a SNAP budget.</p>
</div>