<!-- intro slide one -->
<h1 class="big-text text-center animated zoomIn" id="intro-1">Over 45 million Americans recieve Supplimental Nutrition Assistance Program benefits each year. <br>
  <i class="fa fa-sort-desc intro-1"></i>
</h1>

<!-- intro slide two -->
<h1 class="big-text text-center" id="intro-2" style="display:none">SNAP, or Food Stamps, are available to individuals and families with income below 130 percent of the poverty line. <br>
</h1>

<!-- intro slide three -->
<h1 class="big-text text-center" id="intro-3" style="display:none">In November 2013, SNAP households saw a cut in benefits after the 2009 American Recovery and Reinvestment Act's boost to the program ended. <br>
</h1>

<!-- intro slide four -->
<h1 class="big-text text-center" id="intro-4" style="display:none">Months later, the 2014 Farm Bill was signed, cutting $8.7 billion from the program over the next 10 years.<br>
</h1>

<!-- intro slide five -->
<h1 class="big-text text-center" id="intro-5" style="display:none">850,000 households will lose an average of $90 per month due to these changes, MSNBC reported. Could you handle the cut?<br>
<a href="/play" class="btn btn-lg btn-primary" id="play-button" style="display:none">PLAY</a>
</h1>
