<!-- intro slide one -->
<h1 class="big-text text-center animated zoomIn" id="intro-1">Over 45 million Americans recieve Supplimental Nutrition Assistance Program benefits each year. <br>
  <i class="fa fa-sort-desc" id="intro-1"></i>
</h1>

<!-- intro slide two -->
<h1 class="big-text text-center" id="intro-2" style="display:none">SNAP is available to individuals and families with and income below 130 percent of the poverty line. <br>
  <i class="fa fa-sort-desc" id="intro-2"></i>
</h1>