<h1 class="big-text text-center animated zoomIn" id="intro-1">Over 45 million Americans recieve SNAP benefits each year. <br>
  <i class="fa fa-sort-desc" id="intro-1"></i>
</h1>

<h1 class="big-text text-center animated zoomIn hidden" id="intro-2">The Supplimental Nutrition Assistance Program is available to individuals and families with and income below 130 percent of the poverty line.</h1>