<div class="form-group animated fadeIn">
    <label for="household_size" class="big-text">What is the size of your household?</label>
    <select class="form-control" id="household-input">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    </select> 
    <br>
    <input class="btn btn-primary btn-lg center-block" type="submit" id="select-household" value="Next">
</div>