<div class="big-text animated fadeIn">
  <h1 class="text-center">Before the cut, you would recieve ${{allotment_before}} of Food Stamps per month. After the cut, you will recieve ${{allotment}}.</h1>
  <h1 class="text-center">That's an allotment of ${{weekly_allotment}} per week for your family of {{household_size}}. <br> Let's do some shopping.</h1><br>
  <input class="btn btn-primary btn-lg center-block" type="submit" id="allotment-next" value="Next">
</div>