<!-- Button to add story if signed in -->
<% if current_user %>
  <div class="button-container">
    <button class="btn btn-info center-block" data-toggle="modal" data-target="#myModal" id="add-story">
      Add Story
    </button>
  </div>
<% end %>

<!-- Form Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Share a Story</h4>
      </div>
      <div class="modal-body" id="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- el for Backbone Collection list -->
<div id="stories-list"></div>