/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require animate
 */

h1, h2, h3 {
  font-family: Garamond;
}

.reg-text {
  font-family: Garamond;
  font-size: 22px;
}

.big-text {
  font-family: Garamond;
  font-size: 45px;
  padding-top: 130px;
}

.hidden {
  display: none;
}

.fa-sort-desc:hover {
  color: #358BA1;
};

.animated {
    -webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translateY(20px);
  } 100% {
  opacity: 1;
  -webkit-transform: translateY(0);
  }
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.button-container {
  padding-bottom: 20px;
}

.btn-primary{
  background-color: #358BA1;
}

.btn-primary:hover{
  background-color: #2E6F80;
}